@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* MENU */

.contenedor-header {
    background-color: rgba(49, 46, 46, 0.87);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header .nombre p {
    color: rgb(37, 151, 151);
    font-size: 30px;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: rgb(37, 151, 151);
    cursor: pointer;
}

.nav-responsive {
    background-color: rgb(37, 151, 151);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.contenedor-header header img {
    width: 20px;
}

/* INICIO */

.inicio {
    background-color: rgb(110, 100, 100);
    height: 100vh;
    display: flex;
    align-items: center;
}

.inicio .contenedor-tarjeta {
    background-color: rgba(49, 46, 46, 0.87);
    max-width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
    border-radius: 30px;
}

.inicio .contenedor-tarjeta .contenedor-imagen img{
    margin-top: 40px;
    width: 80%;
    border-radius: 100%;
    border: 5px solid rgb(37, 151, 151);
}

.inicio .contenedor-tarjeta h1 {
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

.inicio .contenedor-tarjeta h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.inicio .contenedor-tarjeta .contenedor-redes a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 100%;
    transition: .3s;
}

.inicio .contenedor-tarjeta .contenedor-redes img{
    width: 40px;
    height: 40px;
}

.inicio .contenedor-tarjeta .contenedor-redes a:hover {
    background-color: rgb(37, 151, 151);
    cursor: pointer;
}

/* SOBRE MI */

.sobre-mi {
    background-color: rgb(114, 107, 107);
    color: white;
    padding: 50px 20px;
}

.sobre-mi .contenedor-sobre-mi {
    background-color: rgba(49, 46, 46, 0.87);
    max-width: 1100px;
    margin: 65px auto;
    border-radius: 30px;
}

.sobre-mi h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.sobre-mi .contenedor-sobre-mi p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.sobre-mi .fila {
    display: flex;
}

.sobre-mi .fila .columna {
    width: 50%;
}

.sobre-mi .fila .columna h3 {
    font-size: 28px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.sobre-mi .fila .columna ul {
    list-style: inside;
    padding: 0 20px 20px;
}

.sobre-mi .fila .columna ul li {
    margin: 10px 0;
    color: rgb(37, 151, 151);
}

.sobre-mi .fila .columna ul li span {
    color: white;
}

/* HABILIDADES  */

.habilidades {
    background-color: rgb(110, 100, 100);
    color: white;
    padding: 50px 20px;
}

.habilidades .contenedor-habilidades {
    background-color: rgba(49, 46, 46, 0.87);
    max-width: 1100px;
    margin: 65px auto;
    border-radius: 30px;
}

.habilidades h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.habilidades .fila {
    display: flex;
}

.habilidades .fila .columna {
    width: 50%;
    padding: 0 20px;
}

.habilidades .fila .columna h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.habilidades .habilidad .barra {
    width: 80%;
    height: 8px;
    background-color: black;
    position: relative;
    margin-bottom: 30px;
}

.habilidades .habilidad .progreso {
    background-color: rgb(37, 151, 151);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.habilidades .habilidad > span {
    display: block;
    margin-bottom: 10px;
}

.habilidades .habilidad .barra span {
    position: absolute;
    top: -17px;
    right: -15px;
    width: 40px;
    height: 40px;
    background-color: rgb(37, 151, 151);
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}

/* clases dinamicas con js */

.habilidades .habilidad .office {
    width: 0%;
    animation: 2s office forwards;
}

@keyframes office {
    0%{width: 0%;}
    100%{width: 70%;}
}

.habilidades .habilidad .solidworks {
    width: 0%;
    animation: 2s solidworks forwards;
}

@keyframes solidworks {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .autocad {
    width: 0%;
    animation: 2s autocad forwards;
}

@keyframes autocad {
    0%{width: 0%;}
    100%{width: 90%;}
}

.habilidades .habilidad .tiaportal {
    width: 0%;
    animation: 2s tiaportal forwards;
}

@keyframes tiaportal {
    0%{width: 0%;}
    100%{width: 50%;}
}

.habilidades .habilidad .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 95%;}
}

.habilidades .habilidad .trabajoequipo {
    width: 0%;
    animation: 2s trabajoequipo forwards;
}

@keyframes trabajoequipo {
    0%{width: 0%;}
    100%{width: 90%;}
}

.habilidades .habilidad .direccionproyectos {
    width: 0%;
    animation: 2s direccionproyectos forwards;
}

@keyframes direccionproyectos {
    0%{width: 0%;}
    100%{width: 90%;}
}

.habilidades .habilidad .ingles {
    width: 0%;
    animation: 2s ingles forwards;
}

@keyframes ingles{
    0%{width: 0%;}
    100%{width: 80%;}
}

/* EXPERIENCIA */

.experiencia {
    background-color: rgb(114, 107, 107);
    color: white;
    padding: 50px 20px;
}

.experiencia .contenedor-exp {
    background-color: rgba(49, 46, 46, 0.87);
    max-width: 1100px;
    margin: 65px auto;
    border-radius: 30px;
}

.experiencia h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.experiencia .fila {
    display: flex;
    justify-content: space-between;
}

.experiencia .fila .columna {
    width: 49%;
    padding: 0 20px;
}

.experiencia .fila .columna h3 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.experiencia .fila .izquierda {
    border-right: 2px solid black;
}

.experiencia .fila .derecha {
    border-left: 2px solid black;
}

.experiencia .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: black;
    position: relative;
}

.experiencia .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.experiencia .fila .item .lugar {
    color:rgb(37, 151, 151);
    font-size: 22px;
    display: block;
}

.experiencia .fila .item .fecha {
    color:rgb(37, 151, 151);
    margin-bottom: 10px;
    display: block;
}

.experiencia .fila .izq {
    border-right: 2px solid rgb(37, 151, 151);
    margin-right: 20px;
}

.experiencia .fila .der {
    border-left: 2px solid rgb(37, 151, 151);
    margin-left: 20px;
}

.experiencia .fila .item .conector-izq {
    height: 2px;
    background-color: rgb(37, 151, 151);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
   
}

.experiencia .fila .item .circulo-izq {
    display: block;
    height: 10px;
    width: 10px;
    background-color: rgb(37, 151, 151);
    border-radius: 50%;
    float: right;
    position: relative;
    bottom: 4px;
}

.experiencia .fila .item .conector-der {
    height: 2px;
    background-color: rgb(37, 151, 151);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
   
}

.experiencia .fila .item .circulo-der {
    display: block;
    height: 10px;
    width: 10px;
    background-color: rgb(37, 151, 151);
    border-radius: 50%;
    float: left;
    position: relative;
    bottom: 4px;
}

/* CONTACTO */

.contacto {
    background-color: rgb(110, 100, 100);
    color: white;
    padding: 50px 20px;
}

.contacto .contenedor-contacto {
    background-color: rgba(49, 46, 46, 0.87);
    max-width: 1100px;
    margin: 65px auto;
    border-radius: 30px;
}

.contacto h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .columna {
    width: 50%;
    padding: 10px;
    position: relative;
    margin: auto;
}

.contacto .columna input {
    display: block;
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
}

.contacto .columna textarea {
    display: block;
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
}

.contacto button {
    cursor: pointer;
    background-color: black;
    border: none;
    width: fit-content;
    color: white;
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    position: relative;
}

.contacto button:hover {
    background-color: rgb(37, 151, 151);
    transition: .2s;
}

footer {
    background-color: rgb(114, 107, 107);
    padding: 30px 0 30px 0;
    text-align: center;
    position: relative;
}

footer .contenedor-redes img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width:980px){
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 67px;
        background-color: rgba(49, 46, 46, 0.87);
        width: 180px;
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid white;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .sobre-mi .fila {
        display: block;
    }
    .sobre-mi .fila .columna {
        width: fit-content;
    }

    .habilidades .fila {
        display: block;
        padding-bottom: 10px;
    }
    .habilidades .fila .columna {
        width: 100%;
    }
    .habilidades .fila .columna .barra {
        width: 100%;
    }

    .experiencia .fila {
        display: block;
        padding-bottom: 10px;
    }
    .experiencia .fila .columna {
        width: 90%;
    }
    .experiencia .fila .derecha {
        margin-left: 20px;
    }

    .contacto .fila {
        display: block;
    }
    .contacto .fila .columna {
        width: 100%;
    }
}